[submodule "External/VIIICompression"]
	path = External/VIIICompression
	url = https://github.com/Sebanisu/VIIICompression.git
[submodule "External/VIIITools"]
	path = External/VIIITools
	url = https://github.com/Sebanisu/VIIITools.git
[submodule "External/VIIIPaths"]
	path = External/VIIIPaths
	url = https://github.com/Sebanisu/VIIIPaths
