
.vs/FIFIFLArchive/v16/.suo
*.ipch
*.db
*.sqlite
.vs/CMake Overview
cmake-build-*/
*/build/
.vs/VIIIcppTest/v16/.suo
*.opendb
.idea/workspace.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/VIIIcppTest.iml
