*.ipch
*.db
*.sqlite
.vs/CMake Overview
cmake-build-*/
*/build/
*.opendb
.idea/workspace.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/VIIIcppTest.iml
.vs/*
External/lz4
*.h~
*.txt~
